@import "mixins";

.item {
    font-size: 2vh;
    overflow: hidden;

    &.text {
        &.x-large {
            font-size: 4vh;
        }
        &.xx-large {
            font-size: 7vh;
        }
        &.xxx-large {
            font-size: 10vh;

            .vertical-align();
        }
    }

    &.image {
        .vertical-align();
        white-space: nowrap;

        img {
            vertical-align: middle;
            max-width: 100%;
        }
    }
}