@import "variables";

.view.level {
    bottom: @footer-height;
    top: @header-height;

    .level-menu {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: @view-right-padding;
        right: -@view-right-padding;

        .button {
            float: right;
            clear: right;
            box-sizing: border-box;
            margin: @button-active-shadow-size;
        }

        .level-num {
            font-size: 7vh;
            height: 64px;
            width: 64px;
            padding: 0px;
            text-align: center;
        }

        .check-solution {
            width: 64px;
            height: 64px;
            background: url('../img/check-level-button.png') no-repeat;

            &:hover, &:active {
                background-image: url('../img/check-level-button-active.png');
            }
        }
    }

    .basis, .targets {
        position: absolute;
        left: 0px;
        right: 0px;
        height: 50%;
        text-align: center;
    }

    .targets {
        top: 0px;
        font-size: 0;
        padding-top: 1%;
        height: 49%;

        &.drag-over {
            box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 20px 0px inset;
        }
    }

    .target {
        height: @level-base-height / 2;
        display: inline-block;
        box-sizing: border-box;
        background: @links-color;
        box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px 1px;
    }

    .basis {
        bottom: 0px;
        font-size: 0;

        .base {
            height: @level-base-height;
            display: inline-block;
            font-size: 1.5vh;
            box-sizing: border-box;
            background: @azure-bg;

            .drop-area {
                height: 50%;
                background: url('../img/drop-here-placeholder.png') no-repeat 50% 50% @white-color;

                .drop-placeholder {
                    position: absolute;
                    opacity: 0.5;
                }

                .target {
                    width: 100%!important;
                    height: 100%!important;
                    box-shadow: none;
                    margin: 0!important;
                }

                &.drag-over {
                    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 20px 0px inset;
                }

                &.occupied {
                    .drop-placeholder {
                        opacity: 0;
                    }
                }
            }

            .data {
                height: 50%;
            }
        }
    }
}