@import "variables";
@import "mixins";
@import "share-buttons";
@import "views";
@import "level";
@import "levels";
@import "items";
@import "messages";
@import "win-metro-loading-indicator";

html {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
    position: relative;
    background: fade(@azure-bg, 70%);
    height: @header-height;
    color: @light-color;

    h1 {
        font-size: 5vh;
        text-align: center;
        font-weight: @bold;
        letter-spacing: 5px;
        cursor: pointer;
    }

    h2 {
        line-height: 110%;
        position: absolute;
        right: 10px;
        bottom: 3px;
        white-space: nowrap;
    }

    .header-instructions {
        transition: opacity @view-show-speed / 2 linear;
    }
}

body {
    background: @main-bg;
    overflow-x: hidden;
}

footer {
    background: @dark-bg;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: @footer-height;
    overflow: hidden;
    font-size: 0px;
    .vertical-align();

    .info, .addthis_sharing_toolbox, .github-link {
        display: inline-block;
        color: @light-color;
    }

    .info {
        vertical-align: middle;
        font-size: 2vh;
    }

    .addthis_sharing_toolbox {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    .github-link {
        width: @footer-height;

        .link {
            color: @light-color;
            font-weight: @bold;
            font-size: 1.5vh;
            line-height: 2vh;
            position: absolute;
            top: (@footer-height - 2) / 2;
            width: 2 * @footer-height;
            left: -@footer-height + @footer-height / 2;
            text-align: center;
            background: @links-color;
            box-shadow: #000 0px 0px 4px 0px;
            text-shadow: 0 0 5px #000;
            border: 1px dotted fade(@light-bg, 50%);
            -webkit-transform: rotateZ(45deg) translateY(1vh);
            transform: rotateZ(45deg) translateY(1vh);
        }
    }
}

a {
    text-decoration: none;
}