@import "variables";
@import "mixins";
@import "share-buttons";
@import "views";
@import "level";
@import "win-metro-loading-indicator";

html {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
    position: relative;
    background: fade(@azure-bg, 70%);
    height: @header-height;
    color: @light-color;

    h1 {
        font-size: 5vh;
        text-align: center;
        font-weight: @bold;
        letter-spacing: 5px;
    }

    h2 {
        line-height: 110%;
        position: absolute;
        right: 10px;
        bottom: 3px;
        white-space: nowrap;
    }

    .header-instructions {
        transition: opacity @view-show-speed / 2 linear;
    }
}

body {
    background: @main-bg;
    overflow-x: hidden;
}

footer {
    background: @dark-bg;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: @footer-height;
    .vertical-align();

    .info, .addthis_sharing_toolbox {
        display: inline-block;
        color: @light-color;
    }

    .info {
        vertical-align: middle;
    }

    .addthis_sharing_toolbox {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
}

a {
    text-decoration: none;
}