@import "variables";

.vertical-align() {
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

.nintja {
    opacity: 0;
}

.button {
    color: @links-color;
    padding: 5px 20px;
    cursor: pointer;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.7) 0px 0px @button-active-shadow-size 1px;
    }
    &:active {
        box-shadow: rgba(0, 0, 0, 0.7) 0px 0px @button-active-shadow-size 1px inset;
    }
}

.random(@min: 0, @max: 1) {
    @randomValue: `Math.round(Math.random() * (@{max} - @{min}) + @{min})`
}