@main-bg: #ccc;
@dark-bg: #333;
@light-bg: #fff;

@light-color: #eee;

@view-show-speed: 1000ms;
@view-hide-speed: 950ms;

@view-outside-x-translation: 100vw;
@view-default-translation: 0vw;
@view-hidden-x-translation: -100vw;

@view-before-hide-jump-x: 10vw;