@main-bg: url('../img/bg-pattern-grey-1.png') #ccc;
@dark-bg: #333;
@light-bg: #fff;
@azure-bg: #369;

@light-color: #eee;

@header-height: 7vh;
@footer-height: 7vh;

@bold: 700;

@view-show-speed: 1000ms;
@view-hide-speed: 950ms;

@view-outside-x-translation: 100vw;
@view-default-translation: 0vw;
@view-hidden-x-translation: -100vw;

@view-before-hide-jump-x: 10vw;