<div class="level-menu">
    <div class="logo button" title="Link It!"></div>
    <div class="level-num button" title="View all levels">${index}</div>
    <div class="check-solution button" title="Check current solution"></div>
    <div class="reset button" title="Start again"></div>
</div>
<div class="targets drop-area">
    <% _.forEach(targets, function(target) { %>
        <%= renderTargetItem(target) %>
    <% }); %>
</div>
<div class="basis">
    <% _.forEach(basis, function(base) { %>
        <%= renderBasisItem(base) %>
    <% }); %>
</div>